@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Muller"),
         /* Если не получилось, загрузит woff2 */
         url("/fonts/MullerRegular.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("/fonts/MullerRegular.woff") format("woff");
  }
  